*{
    margin:0;
    padding:0;
    clear:both;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
header *{
    display:flex;
}
ul{
    list-style: none;
    flex:1;
    flex-basis:40%;
    padding-left:30%;
}
header ul li{
    margin-left:6rem;
    font-size:5rem;
    padding:4% 0;
}
header ul li a{
    text-decoration: none;
    color: gray;
    
}
header > ul li a > i{
    font-weight:900;

}
main{
    background: lightgrey;
    height:55vh !important;
    border-bottom: 2px solid rgba(0,0,200,0.7);
}
main > h2{
    padding:5% 4% 0 4%;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight:400;
   border-bottom: 6px solid rgba(0,0,255,0.5);
    padding-bottom:0.7rem;
    width:95%;
    transition:1.8s;
}
main > h2 span{
    font-weight:900;
    font-size:1.5rem;
    
}
.maciAgent{
  font-size:3rem;
  display:block;
  border:2px solid black;
  border-radius:5px;
  width:25%;
  text-decoration:none;
  text-transform: uppercase;
  margin-left:20%;
  padding:2% 4%;
  text-align:center;
  margin-top:3%;
  background: black;
  color:white;
  font-weight:700;
}
main > h2 + img{
    width:50%;
    display:block;
    margin:2% 0 2% 10%;
    border-radius:4px;
}
main h1{
    font-size:2.5rem;
    padding:3% 0 3% 10%;
    line-height:3.2rem;
    font-weight:700;
    transition: 1.8s;
}
.dropEngineer{
    display:block;
}
.rhetoricQuestion{
    padding-left:10%;
    text-transform: uppercase;
    font-size:1.7rem !important;
    font-weight:500;
    transition:1.8s;
}
.meetMeUp{
    display:block;
    font-size: 3rem;
    color:black;
    background: rgba(0,0,200,0);
    text-decoration: none;
    border:2px solid rgba(0,0,200,0.5);
    border-radius:4px;
    width:25%;
    margin-left:10%;
    margin-top:5%;
    text-transform: uppercase;
    text-align:center;
    padding:2% 4%;
    transition:1.8s;
}
main + section{
    margin:5% 0 5% 10%;
}
main + section span{
  text-transform: capitalize;
    font-size: 2.5rem;
    font-weight:600;
    border-bottom:2px solid rgba(0,0,200,0.9);
    padding-bottom:4px;
}
section.containerSection{
    display:block;
    width:80%;
}
section.containerSection section {
    margin:10% auto;
    width:100%;
}
section.containerSection section  span{
    display: block;
    padding: 4% 0 3% 20%;
    font-size:2rem;
    font-weight: 700;
}
section.containerSection section p{
    padding-left:20%;
    font-size:1.3rem;
    line-height: 2.2rem;
    font-weight: 500;
}
section.containerSection section img{
    width:60%;
    display: block;
    margin:0 auto;
    border-radius: 5px;
}
.responseFromUsers{
    padding-left:10%;
    display: block;
   font-size: 1.8rem;
   font-weight: 500;
   margin-bottom:10px;
   transition: 2.2s;
}
.aboutSection p{
    margin-left:10%;
    font-size:1.5rem;
    line-height:2.5rem;
    padding-bottom:10px;
    transition:2s;
}
.aboutSection{
    height:275vh;
}
.aboutSection a{
    margin-left:10%;
    margin-bottom: 3%;
    cursor: pointer;
    width:8%;
    padding:2% 3%;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 4rem;
    font-weight:700;
    letter-spacing: 0.6rem;
    margin-top:2%;
    display: block;
    background: rgba(0,0,200,0.7);
    color:white;
    border:none;
    text-align:center;
    border-radius: 4px;
    transition: 1.5s;
}
.aboutSection button a{
    text-decoration: none;
    color:white;
}
.aboutSection a:hover{
    background:black;
}
footer{
  font-size:1.5rem;
  text-align:center;
  margin:4% 0 4% 17%;
  align-items: center;
  padding:2%;
  font-weight:700;
  color:white;
  border-radius:5px;
  background: rgba(0,0,200,0.6);
}


@media all and (min-width:256px) and (max-width:375px){
html{
    font-size:32%;
}
.rhetoricQuestion{
    font-size:1rem;
    font-weight:700;
}
main{
    height:70vh;
}
.meetMeUp{
    font-size:1.1rem;
    width:30%;
    font-weight: bold;
}
}
@media all and (min-width:376px) and (max-width:1024px){
    main{
        height:150vh;
    }
    html{
        font-size:62.5%;
    }
    .meetMeUp{
        width:40%;
    }
    .rhetoricQuestion{
        font-size:1rem;
    }
    .aboutSection a{
        width:18%;
    }
}
@media all and (min-width:1025px){
    main{
        height:190vh;
    }
    section.containerSection{
        display:flex;
    
    }
    header ul li{
        margin-left:2.5rem;
        font-size:3rem;
        padding:4% 0;
        float:right;
        width:30%;
    }
    section.containerSection section{
        flex:1;
        width:50%;
        flex-wrap: wrap;
    }
    main > h2 + img{
        width:30%;
    }
}
